@import "reset";
@import "mixins";
@import "grid";
@import "typography";
@import "variables";

.button {
  font-size: 17px;
  font-weight: bold;
  background: white;
  border: 0;
  border-radius: 30px;
  padding: 18px 55px;
  transition: all 0.2s;
  color: $black;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: black;
    color: white;
  }
  &--pink {
    background: $pink;
    color: white;
    &:hover {
      background: white;
      color: $pink;
    }
  }
  &--green {
    color: white;
    background: $green;
    &:hover {
      background: white;
      color: $green;
    }
  }
  &--orange {
    color: white;
    background: $orange;
    &:hover {
      background: white;
      color: $orange;
    }
  }

  &--gray {
    color: white;
    background: $black3;
    border: 1px solid $black3;
    &:hover {
      background: $grayDark;
      color: black;
      font-weight: bold;
      border: 1px solid $grayDark;
    }
  }
}

.text-center {
  text-align: center;
}
