.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include mobile {
    padding: 0 15px;
  }
  @include tablet {
    max-width: 732px;
  }
  @include tablet-big {
    max-width: 970px;
  }
  @include desktop {
    max-width: 1366px;
  }
}
.container-fluid {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

//VISIBILITY CLASSES
@include desktop {
  .show-mob {
    display: none !important;
  }
  .show-tab {
    display: none !important;
  }
  .show-tab-big {
    display: none !important;
  }
}
.hidden {
  display: none !important;
}

// RESPONSIVE GRID column-mob,column-tab.column-phab see mixins
@include mobile {
  .show-mob {
    display: block !important;
  }
  .hidden-mob {
    display: none !important;
  }
}

@include tablet {
  .show-tab {
    display: block !important;
  }
  .hidden-tab {
    display: none !important;
  }
}

@include tablet-big {
  .show-tablet-big {
    display: block !important;
  }
  .hidden-tablet-big {
    display: none !important;
  }
}
