.title-xxl {
  font-size: 90px;
  font-weight: bold;
  @include mobile {
    font-size: 45px;
  }
  @include tablet {
    font-size: 55px;
  }
}
.title-xl {
  font-size: 60px;
  font-weight: bold;
  @include mobile {
    font-size: 36px;
  }
  @include tablet {
    font-size: 45px;
  }
}
.title-lg {
  font-size: 30px;
  font-weight: bold;
  @include mobile {
    font-size: 24px;
  }
}
