/*====================================
=            GRID GLOBALS            =
====================================*/
/// The total number of grid columns
/// @type Number
$grid-columns: 12;
/// The gutter of the grid
/// @type Number
$gutter: 30px;

/*=====  End of GRID GLOBALS  ======*/

/*===================================
=            TRANSITIONS            =
===================================*/
/// Google Material Design cubic bezier transition
/// @type Transition
$transition1: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
/// Google Material Design cubic bezier transition slower
/// @type Transition
$transition2: all 0.6s cubic-bezier(0.6, 0, 0.2, 1);

/*=====  End of TRANSITIONS  ======*/

/*=================================
=            STRUCTURE            =
=================================*/

/*=====  End of STRUCTURE  ======*/

/*==============================
=            COLORS            =
==============================*/

$black: #020202;
$black2: #232323;
$black3: #2d2d2d;
$white: #ffffff;
$pink: #eb2466;
$green: #43dfbf;
$purple: #7c4ce2;
$orange: #ff8b36;
$gray: #c4c4c4;
$grayDark: #a6a6a6;
$grayDarker: #727272;

/*=====  End of COLORS  ======*/
