@import "main";
@import "header";
@import "footer";
@import "responsive";

ul {
  display: flex;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.flex-j-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-j-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
