.footer {
  padding: 70px 0;
  background-color: $orange;
  margin-top: auto;
  background: linear-gradient(267.77deg, #eb2466 3.75%, #ff8b36 100%);
  position: relative;

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__email {
    padding: 70px 0;
  }
  &__socials {
    ul {
      margin-bottom: 22px;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    li {
      padding: 0 7px;
    }
  }
  &::before {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: url("../img/illustration_4.png") no-repeat;
    background-position: left;
  }
  &::after {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    background: url("../img/illustration_3.png") no-repeat;
  }
}
