header {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 30px 0;
  font-size: 17px;
  font-weight: bold;
  z-index: 1;
  ul {
    display: flex;
    li {
      padding: 0 20px;
      list-style: none;
    }
    a {
      color: white;
      text-decoration: none;
      transition: all 0.1s ease-in-out;
      &.active,
      &:hover {
        color: $pink;
        border-bottom: 1px solid $pink;
      }
    }
  }
  .main-nav {
    @include mobile {
      display: none;
    }
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
    align-items: center;
    &.active {
      @include mobile {
        display: flex;
      }
    }
    ul {
      display: grid;
      width: 100%;
      justify-items: center;
      li {
        margin: 15px 0;
      }
    }
  }
  .mobile-nav-btn {
    width: 28px;
    height: 22px;
    background: transparent;
    border: 0;
    position: relative;
    // background: black;
    display: none;
    align-content: space-around;
    justify-items: end;
    cursor: pointer;
    transition: all 0.2s;
    @include mobile {
      display: grid;
    }
    span {
      width: 100%;
      height: 2px;
      background-color: white;
      transition: all 0.2s;
      &:last-child {
        width: 60%;
      }
    }
    &.active {
      span:first-child {
        position: relative;
        top: 5px;
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        display: none;
      }
      span:nth-child(3) {
        position: relative;
        width: 100%;
        transform: rotate(-45deg);
        bottom: 6px;
      }
    }
  }
}
.logo {
  width: 100%;
  max-width: 200px;
  @include mobile {
    max-width: 120px;
  }
}
