html {
  font-family: "DM Sans", sans-serif !important;
  background-color: $black;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
}
.hero {
  background-image: url("../img/img14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -0 -570px;
  height: calc(100vh - 86px);
  height: 100vh;
  padding-top: 100px;
  display: flex;
  align-items: center;
  position: relative;

  @include mobile {
    background-position: center;
  }
  @include tablet {
    background-position: center;
  }
  @include tablet-big {
    background-position: center;
  }
  &__title {
    font-size: 90px;
    @include mobile {
      font-size: 40px;
    }
  }
  &__desc {
    margin-bottom: 60px;
    color: $gray;
  }
  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  @include mobile {
    height: 100vh;
  }
  @include tablet {
    height: 100vh;
  }
  @include tablet-big {
    height: 100vh;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 90px;
  padding-bottom: 90px;
  @include mobile {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .feature {
    border: 1px solid $black2;
    border-radius: 10px;
    padding: 70px;
    display: flex;
    &__logo {
      width: 18%;
      padding-right: 25px;
    }
    &__content {
      width: 80%;
    }
    &__description {
      margin-top: 15px;
      color: $gray;
      line-height: 1.4em;
    }

    @include mobile {
      display: grid;
      justify-items: center;
      padding: 20px;
      &__logo {
        width: 20%;
        text-align: center;
        padding-right: 0px;
      }
      &__content {
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }
    }
    @include tablet {
      display: grid;
      justify-items: center;
      padding: 20px;
      &__logo {
        width: 15%;
        text-align: center;
        padding-right: 0px;
      }
      &__content {
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }
    }
    @include tablet-big {
      display: grid;
      justify-items: center;
      padding: 20px;
      &__logo {
        width: 15%;
        text-align: center;
        padding-right: 0px;
      }
      &__content {
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }
    }
  }
}
.quote {
  font-size: 60px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  color: $gray;
  @include mobile {
    font-size: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.about-us-wrap {
  margin-top: 90px;
  margin-bottom: 90px;
  @include mobile {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .about-us {
    display: flex;
    &__image {
      width: 50%;
    }
    &__content {
      width: 50%;
      padding-left: 100px;
    }
    &__title {
      margin: 50px 0;
    }
    &__desc {
      font-size: 18px;
      color: $gray;
      line-height: 1.4;
      margin-bottom: 100px;
    }
    @include mobile {
      flex-direction: column;
      &__image {
        width: 100%;
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
      &__content {
        width: 100%;
        padding-left: 0px;
      }
      &__title {
        margin: 25px 0;
      }
      &__desc {
        font-size: 18px;
        color: $gray;
        line-height: 1.4;
        margin-bottom: 40px;
      }
    }
    @include tablet {
      flex-direction: column;
      &__image {
        width: 100%;
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
      &__content {
        width: 100%;
        padding-left: 0px;
      }
      &__title {
        margin: 25px 0;
      }
      &__desc {
        font-size: 18px;
        color: $gray;
        line-height: 1.4;
        margin-bottom: 40px;
      }
    }
    @include tablet-big {
      flex-direction: column;
      &__image {
        width: 100%;
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
      &__content {
        width: 100%;
        padding-left: 0px;
      }
      &__title {
        margin: 25px 0;
      }
      &__desc {
        font-size: 18px;
        color: $gray;
        line-height: 1.4;
        margin-bottom: 40px;
      }
    }
  }
}
.gray-title {
  font-size: 200px;
  font-weight: bold;
  padding: 0 15px;
  color: $black2;
  @include mobile {
    font-size: 60px;
  }
  @include tablet {
    font-size: 120px;
  }
  @include tablet-big {
    font-size: 120px;
  }
}
.projects {
  padding: 90px 0;
  @include mobile {
    padding: 45px 0;
  }
  &__slider {
    padding-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;

    @include mobile {
      padding-top: 40px;
      grid-template-columns: 1fr;
      padding: 40px 15px;
    }
  }
  .project {
    text-align: center;
    position: relative;
    &:nth-child(2n) {
      margin-top: -60px;
      @include mobile {
        margin-top: 0px;
      }
    }
    &__image {
      border-radius: 22px;
      position: relative;
      // background: white;
      overflow: hidden;
    }
    &__title {
      margin: 25px 0px 15px;
      @include mobile {
        margin: 15px 0px 10px;
      }
    }
    &__category {
      color: $grayDark;
      font-size: 17px;
      margin-bottom: 25px;
      @include mobile {
        margin-bottom: 15px;
      }
    }
  }
  &__btn {
    margin: 60px 0;
    @include mobile {
      margin: 0px 0 40px;
    }
  }
}
.partners {
  display: grid;
  grid-gap: 30px;
  margin: 60px auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 120px;
  }
}

.page-header {
  padding-top: 86px;
  height: 500px;
  display: grid;
  justify-items: center;
  align-items: center;
  @include mobile {
    height: 250px;
    margin-bottom: 40px;
  }
  @include tablet {
    height: 300px;
    margin-bottom: 40px;
  }
  @include tablet-big {
    height: 400px;
    margin-bottom: 40px;
  }
  // border-bottom: 1px solid $grayDarker;
}

.collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 120px;
  &__item {
    display: grid;
    img {
      width: 100%;
      height: 100%;
      max-height: 800px;
      object-fit: cover;
      object-position: 0 -160px;
    }
  }
  &__title {
    margin: 30px 0 20px;
  }
  &__description {
    color: $gray;
    margin-bottom: 20px;
  }
  &__category {
    color: $grayDarker;
    margin-bottom: 20px;
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
}
.collection-filter {
  margin: 60px 0 60px;
  ul {
    display: flex;
    justify-content: center;
    li {
      color: $gray;
      font-size: 20px;
      margin: 0 10px;
      cursor: pointer;
      border: 1px solid transparent;
      &.active,
      &:hover {
        border-bottom: 1px solid $gray;
      }
      @include mobile {
        font-size: 16px;
      }
    }
  }
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 30px auto 90px;
  &__item {
    height: 300px;
    display: grid;
    justify-items: center;
    align-items: center;
    border: 1px solid $black2;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
    @include mobile {
      height: 220px;
    }
  }
  &__icon {
    align-self: end;
  }
  &__content {
    font-size: 17px;
    color: $gray;
    line-height: 1.4em;
    text-align: center;
  }
  @include mobile {
    grid-template-columns: 1fr;
    margin: 30px auto;
  }
}
.contact-form {
  margin: 90px auto;
  &__title {
    color: white;
    text-align: center;
  }
  &__map {
    margin: 120px 0 0px;
    iframe {
      width: 100%;
      height: 500px;
    }
  }
  @include mobile {
    margin: 30px auto;
    &__map {
      margin: 60px 0 0px;
      iframe {
        width: 100%;
        height: 350px;
      }
    }
  }
}
.form-contact {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  color: white;
  border: 0;
  input[type="text"],
  textarea,
  select {
    width: 100%;
    background: $black2;
    border: 0;
    padding: 15px 30px;
    color: white;
    border: 1px solid $black2;
    outline: 0;
    &:active,
    &:focus,
    &:visited,
    &:focus {
      border: 1px solid $grayDarker !important;
      background: $black2;
    }
  }
  .form-input--100 {
    grid-column: 1/3;
  }
  @include mobile {
    grid-gap: 20px;
    margin: 50px auto;
    grid-template-columns: 1fr;
    .form-input--100 {
      grid-column: unset;
    }
  }
}
.heading-section {
  margin: 70px auto;
  @include mobile {
    margin: 30px auto;
  }
}
.about {
  &__image {
    width: 100%;
    // border: 1px solid white;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 70px;
    img {
      width: 100%;
    }
    @include mobile {
      margin-bottom: 0px;
    }
  }
  .heading-section {
    padding: 0 60px;
    @include mobile {
      padding: 0 15px;
      h2 {
        font-size: 30px !important;
      }
    }
  }
  &__content {
    padding: 0 60px;
    font-size: 18px;
    color: $gray;
    column-count: 2;
    line-height: 28px;
    p {
      margin-bottom: 15px;
    }
    margin-bottom: 70px;
    @include mobile {
      padding: 0 15px;
      font-size: 16px;
      column-count: unset;
    }
  }
}
.our-team {
  display: grid;
  grid-gap: 40px;
  margin: 70px 0;
  grid-template-columns: repeat(3, 1fr);
  .person {
    text-align: center;
    &__img {
      width: 100%;
      border-radius: 24px;
    }
    &__name {
      font-size: 30px;
      margin: 25px auto 15px;
    }
    &__position {
      font-size: 17px;
      color: $grayDarker;
    }
  }
  @include mobile {
    grid-template-columns: 1fr;
    .person {
      text-align: center;
      &__img {
        width: 100%;
        border-radius: 24px;
      }
      &__name {
        font-size: 25px;
        margin: 15px auto 5px;
      }
      &__position {
        font-size: 14px;
        color: $grayDarker;
      }
    }
  }
}
